.article
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.11)
  background-color: #ffffff
  border-top: 4px solid #dc291a
  margin-bottom: 40px

  &__header
    padding: 31px 27px
    background-color: #f4f4f4
  
  &__title
    font-size: 2.4rem
    line-height: 1.3
    font-family: $openSans
    font-weight: 700
    color: #171717
    margin-bottom: 10px

  &_low-area
    position: relative
    font-size: 1.6rem
    line-height: 1.3
    color: #8d8d8d
    display: block
    padding-left: 25px
    font-style: italic
    &::before
      content: ''
      position: absolute
      left: 2px
      top: 5px
      width: 18px
      height: 100%
      background-image: url('../img/svg/tag.svg')
      background-repeat: no-repeat

  &__description
    font-size: 1.6rem
    line-height: 1.38
    font-family: $openSans
    margin-top: 45px
    margin-bottom: 30px
    color: #1d1d1d

  &__content
    padding: 25px 27px
    color: #1d1d1d
    padding-bottom: 20px

  &__subtitle
    font-size: 2rem
    line-height: 1.2
    font-family: $openSans
    font-weight: 700

  &__text
    font-size: 1.6rem
    line-height: 2.4rem
    font-family: $openSans
    a
      color: #c49f55
      text-decoration: none
      border-bottom: 1px solid #c49f55
  
  &__also
    display: block
    padding: 20px 20px
    background-color: #f4f4f4
    border: 1px solid #d5ad5d
    text-decoration: none
    margin-bottom: 20px
    margin-top: 20px
    &-note
      font-size: 1.4rem
      line-height: 1.2
      color: #8c8c8c
      margin: 0
      margin-bottom: 10px
    &-title
      font-size: 1.8rem
      line-height: 1.2
      color: #1d1d1d
      font-weight: 700
      margin: 0

  &__main
    margin-top: 40px
    margin-bottom: 45px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    &-border
      border-bottom: 1px solid #e30513
      height: 1px
      width: 40%
      background-color: #e30513
      padding: 1px 0 0
      margin-top: 1px
    &-text
      display: block
      width: 80%
      font-size: 2.4rem
      line-height: 3rem
      color: #888888
      padding: 20px 0
  &__quote
    margin-top: 50px
    margin-bottom: 50px
    position: relative
    padding-left: 60px
    font-size: 1.6rem
    line-height: 2.4rem
    font-style: italic
    &-icon
      content: ''
      position: absolute
      width: 39px
      height: 100%
      left: 0
      font-size: 7.2rem
      line-height: 0
      margin: 0
      font-family: $geometriabold
      color: #e30513
      font-style: normal
    &-text
      color: #3e3e3e
    &-author
      color: #929292






