.comments
  padding: 30px 15px 35px
  width: 100%
  background-color: #fff
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.11)
  &__title
    font-size: 1.6rem
    font-weight: 700
    margin-bottom: 28px
  
  &__header
    width: 100%
    margin-bottom: 33px
  &__pseudo
    &-form
      width: 100%
      position: relative
      z-index: 1
      background-color: #fff
      padding: 7px 15px
      border: 1px solid #dedede
      border-radius: 2px
      cursor: pointer
      &:after
        content: ''
        display: table
        clear: both
      &__text
        display: block
        float: left
        font-size: 15px
        line-height: 34px
        color: #818181
        white-space: nowrap
      &__button
        width: 34px
        height: 34px
        float: right
        text-align: center
        vertical-align: bottom
        border-radius: 50%
        margin-left: 10px
      &__icon
        margin-top: 6px
        margin-right: -2px
        fill: #8c8c8c
  &__form
    position: relative
    padding-top: 15px
    padding-bottom: 15px
    background-color: #fff
    display: flex
    flex-wrap: nowrap
    display: none
    &-possessed
      display: block
      width: 42px
      position: relative
      z-index: 3
      &__avatar
        position: absolute
        width: 32px
        height: 32px
        left: 0
        top: 0
        border-radius: 2px
    &-textarea-holder
      padding: 15px
      border: 1px solid #dedede
      border-radius: 2px
      -ms-flex-preferred-size: 100%
      flex-basis: 100%
    &-textarea
      width: 100%
      resize: none
      display: block
      margin: 0
      padding: 0
      background: #fff
      border: 0
      min-height: 80px
      font-size: 15px
      line-height: 22px
      box-sizing: border-box
      outline: 0!important
    &-panel
      height: 34px
      margin-top: 10px
    &-reply
      float: right
      background-color: #d5ad5d
      color: #fff
      cursor: pointer
      display: inline-flex
      align-items: center
      white-space: nowrap
      justify-content: center
      height: 34px
      line-height: 34px
      font-size: 15px
      padding: 0 20px
      border-radius: 4px
      p
        margin: 0

    &-btn
      float: right
      margin-left: 10px
      fill: #fff


  &__list
    width: 100%
  &__item
    width: 100%
    position: relative
    &-info
      padding-bottom: 15px
      margin-bottom: 30px
      border-bottom: 1px solid #e8e8e8
    &-header
      display: flex
      justify-content: space-between
      align-items: baseline
      margin-bottom: 15px
    &-author
      display: flex
      align-items: baseline
      justify-content: flex-start
    &-img
      width: 20px
      height: 20px
      margin-right: 8px
    &-name
      margin: 0
      padding-top: 4px
      margin-right: 9px
      font-size: 1.6rem
      line-height: 1.2
      color: #888888
      font-weight: 700
    &-date
      margin: 0
      padding-top: 5px
      font-size: 1.4rem
      line-height: 1.2
      color: #888888
    &-assessment
      padding-top: 5px
    &-assessment a
      text-decoration: none
      font-size: 1.4rem
      line-height: 1.2
    &-like
      color: #4bb625
      margin-right: 5px
    &-dislike
      color: #ef3939
    &-text
      font-size: 1.6rem
      line-height: 1.2
      color: #3e3e3e
      margin-bottom: 10px
    &-btn
      font-size: 1.4rem
      line-height: 1.2
      color: #b5b5b5
      text-decoration: none
    &-reply
      padding-left: 20px
    &-opener
      display: block
      content: ''
      position: absolute
      width: 20px
      height: 50px
      left: -5px
      background-image: url('../img/svg/arrow-up.svg')
      background-repeat: no-repeat
      background-size: 17px
      background-position: center 8px
  &__also a
    color: #1d1d1d
    font-size: 1.6rem
    line-height: 1.2
    text-decoration: none
    border-bottom: 1px solid #888888
  &__mobile
    &-assessment
      display: none
.comments__visible
  display: flex
@media screen and (max-width: 576px)
  .comments
    &__form
      padding-bottom: 0
      padding-top: 0
      border: 1px solid #dedede
      &-textarea
        &-holder
          border: 0
    &__pseudo-form
      display: flex
      justify-content: space-between
      &__icon
        width: 25px

    &__item
      &-author
        flex-wrap: wrap
      &-img
        margin-bottom: 7px
      &-name
        font-size: 1.2rem
        margin-bottom: 7px
      &-date
        font-size: 1.2rem
      &-assessment
        display: none
      &-text
        font-size: 1.4rem
        margin-bottom: 15px
      &-reply
        padding-left: 20px
      &-opener
        background-size: 16px
        width: 20px
      &-btns
        display: flex
        justify-content: flex-start
        align-items: baseline
      &-btn
        margin-right: 5px
        padding: 3px 13px 4px 12px
        margin-right: 20px
        border: 1px solid #8c8c8c
    &__also
      justify-content: center
    &__mobile
      &-assessment
        display: block
      &-like, &-dislike
        font-size: 1.4rem
        color: #4bb625
        line-height: 1
        & span
          font-size: 1.6rem
          padding: 0px 8px 2px
          border: 1px solid #8c8c8c
          margin-right: 3px
      &-like
        margin-right: 15px
      &-dislike
        font-size: 1.4rem
        color: #ef3939
        & span
          padding: 0px 10px 2px

@media screen and (max-width: 480px)
  .comments
    &__item
      &-btn
        font-size: 1.2rem
        margin-right: 20px
    &__mobile
      &-like, &-dislike
        font-size: 1.2rem
        & span
          font-size: 1.4rem
          padding: 0px 8px 2px 7px
      &-like
        margin-right: 10px
      &-dislike
        & span
          padding: 0px 9px 2px 8px 
