.like
  &__wrap 
    padding: 27px 28px
    background-color: #f4f4f4
    color: #8c8c8c
    font-size: 1.4rem
    line-height: 2.2rem
    .row-flex()
    a
      color: #8c8c8c
      text-decoration: none
  &__btns
  

  &__share
    float: right


.blind-label
  opacity: 0
  height: 1px
  width: 1px
  font-size: 0.1rem