.like
  &__wrap 
    padding: 18px 28px 20px
    background-color: #f4f4f4
    color: #8c8c8c
    font-size: 1.4rem
    line-height: 2.2rem
    display: flex
    justify-content: space-between
    align-items: center
    a
      color: #8c8c8c
      text-decoration: none
    button
      display: block
      border: none
      background-color: inherit
      color: #8c8c8c
  &__right
    position: relative                          
  &__btns
    float: left
    display: flex
    justify-content: flex-start
    margin-right: 0
    align-items: center
  &__btn
    margin-right: 15px
    transition: 0.2s
    min-height: 30px
    cursor: pointer
    display: flex
    align-items: center
    &-icon
      float: left
      margin-right: 5px
      transition: 0.2s
      cursor: pointer
      fill: #8c8c8c
    &-count
      float: left
      padding-top: 2px
  &__share
    float: right
    outline: none !important
    &-note
      float: left
      margin-right: 10px
      font-style: italic
      padding-top: 2px
    &-icon
      float: left
      fill: #8c8c8c
  &__social
    &-wrap
      display: none
      justify-content: space-between
      align-items: center
      flex-wrap: nowrap
      content: ''
      position: absolute
      right: -20px
      top: -62px
      background-color: #fff
      box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.11)
      padding: 14px 22px 13px
      .like__btn-icon
        margin-right: 0
        fill: #000
    &-active
      display: flex
    &-item
      margin-right: 5px
    &-fb
      margin-right: 20px
    &-vk
      margin-right: 18px
    &-twitter
      margin-right: 15px
    &-inst
      margin-right: 0px

.view
  cursor: default
.view .like__btn-icon
  margin-top: 3px
.like .like__btn-icon
  margin-top: -3px

.comment .like__btn-icon
  margin-top: 6px

.favorites .like__btn-icon
  margin-top: 1px

.favorites
  margin-right: 0

.blind-label
  content: ''
  position: absolute
  opacity: 0
  height: 1px
  width: 1px
  font-size: 0.1rem
  top: 10px

@media screen and (max-width: 576px)
  .like
    &__wrap 
      padding: 20px 29px 25px 23px
      display: flex
      justify-content: center
      flex-wrap: wrap
    &__btns
      margin-bottom: 25px
      justify-content: space-between
      width: 100%
    &__btn
      &-count
        font-size: 1.3rem
      &-icon
        width: 20px
        margin-right: 6px
      &:last-child
        margin-right: 0
  .like .like__btn-icon
    background-position-y: 3px
    width: 18px
  .comment .like__btn-icon
    width: 18px
    background-position-y: 6px
  .favorites .like__btn-icon
    background-position-y: 3px
    width: 18px

/*animation*/

.like:active .like__btn-icon, .comment:active .like__btn-icon, .favorites:active .like__btn-icon
  transform: scale(1.2,1.2)
  outline: none

.like__btn:hover, .like__share:hover
  color: #c49f55
  transition: 0.2s
.like__btn:hover .like__btn-icon, .like__share:hover .like__share-icon
  fill: #c49f55
  transition: 0.2s

.view:hover
  color: #8c8c8c
.view:hover .like__btn-icon
  fill: #8c8c8c

.like__share:hover
  color: #c49f55

.like__share:active, .like:active, .comment:active, .favorites:active
  color: #a78749

.like__btn-active
  .like__btn-count
    color: #c49f55
  .like__btn-icon
    fill: #c49f55