.meta-box
  margin-bottom: 30px
  display: flex
  justify-content: space-between
  &__item
    display: flex
    float: left
    align-items: center
  &__left
    display: flex
    align-items: center
  &__category
    float: left
    position: relative
    display: block
    color: #3e3e3e
    text-decoration: none
    margin-right: 10px
    font-size: 1.4rem
    padding-top: 1px
    line-height: 1

    &-color
      float: left
      display: block
      width: 20px
      height: 20px
      margin-right: 5px
      background-color: #dc291a

  &__btn
    cursor: pointer

    & button
      background-color: inherit
      border: 1px solid #cdb863
      color: #cdb863
      padding-top: 3px
      padding-bottom: 4px
      padding-left: 5px
      padding-right: 5px
      font-size: 1.2rem
      line-height: 1rem
      cursor: pointer
      outline-width: 2px
      outline-color: #cdb863
      transition: 0.2s
      display: flex
      align-items: center
    &-icon
      font-size: 1.5rem
      line-height: 1
      margin-right: 0
      padding-top: 1px
    &-label
      margin-right: 3px


      
  &__date
    float: right
    font-size: 1.4rem
    color: #8d8d8d
  &__mobile-btn
    display: none
    cursor: pointer
    & button
      cursor: pointer
      background-color: inherit
      border: 1px solid #cdb863
      color: #cdb863
      padding: 6px
      font-size: 1.6rem
      line-height: 1rem
      cursor: pointer
      outline-width: 2px
      outline-color: #cdb863

@media screen and (max-width: 576px) 
  .meta-box
    flex-wrap: wrap
    margin-bottom: 24px
    &__left
      width: 100%
      margin-bottom: 15px
    &__category
      font-size: 1.2rem
    &__mobile-btn
      display: block
    &__btn
      display: none


/*animation*/

.meta-box
  &__category, &__category-color, &__item:hover &__category-color, &__category:hover, &__item:active &__category-color, &__category:active
    transition: 0.2s
    text-decoration: none
  &__item:hover &__category-color, &__category:hover
    opacity: 0.7
  &__item:active &__category-color, &__category:active
    opacity: 0.9
  &__btn
    button:hover
      background-color: #cdb863
      color: #fff
      transition: 0.3s
    button:active
      opacity: 0.8

      



  



