<article class="article article--legislation">
  <header class="article__header">
    <div class="meta-box">
      <div class="meta-box__item">
        <span class="meta-box__feed meta-box__feed--legislation"
          >#законодательство</span
        >
      </div>
      <div class="meta-box__item">
        <button class="btn-outline">Подписаться +</button>
      </div>
      <div class="meta-box__item">
        <time class="meta-box__time" datetime="2019-06-10">06 июня 2019</time>
      </div>
    </div>

    <h2 class="article__title">
      АС Московского округа исправляет ошибки: самые интересные дела за март
    </h2>
    <span class="article_low-area">
      арбитражный процесс, подборка, вексель
    </span>
    <p class="article__description">
      Должник добивался отзыва исполлиста, потому что думал, что он противоречит
      решению суда. Первая инстанция расхождений не нашла. Он обжаловал это
      определение в апелляции, но она решила, что оно не оспаривается, и
      прекратила производство. Почему этот вывод неправильный, разъяснил АС
      Московского округа. Он разрешил дело арендатора, которому затопило
      помещение, и спор крупной компании с ФНС о том, облагается ли налогом на
      прибыль зачет векселей.
    </p>
    <!-- <div class="author">
      <div class="author__logo">
        <img
          src="https://randomuser.me/api/portraits/men/46.jpg"
          alt=""
          class="author__logo-img"
        />
      </div>
      <div class="author__info">
        <span class="word-wrap">
          Евгения Ефименко,
        </span>
        автор портала pravo.ru
      </div>
    </div> -->

    <div class="author author--company">
      <div class="author__logo">
        <img
          src="http://www.mconsult.ru/netcat_files/Image/Pravo%20ru.jpg"
          alt=""
          class="author__logo-img"
        />
      </div>
      <div class="author__info">
        <span class="word-wrap">
          Евгения Ефименко,
        </span>
        автор портала pravo.ru
      </div>
    </div>
  </header>
</article>
