<article class="article">
  <header class="article__header">
    <div class="meta-box">
      <div class="meta-box__left">
        <div class="meta-box__item">
          <span class="meta-box__category-color"></span>
          <a href="#" class="meta-box__category"
            >#законодательство</a
          >
        </div>
        <div class="meta-box__item meta-box__btn">
          <button class="btn-outline up"><span class="meta-box__btn-label">подписаться</span> <span class="meta-box__btn-icon">+</span></button>
        </div>
        <div class="meta-box__item meta-box__mobile-btn">
          <button class="btn-outline">+</button>
          <span class="blind-label">Подписаться</span>
        </div>
      </div>
      <div class="meta-box__right meta-box__date">
        <time class="meta-box__time" datetime="2019-06-10">06 июня 2019</time>
      </div>
    </div>

    <h2 class="article__title">
      АС Московского округа исправляет ошибки: самые интересные дела за март
    </h2>
    <span class="article__low-area">
      <a href="#" class="article__low-link">арбитражный процесс</a>, <a href="#" class="article__low-link">подборка</a>, <a href="#" class="article__low-link">вексель</a>
    </span>
    <p class="article__description">
      Должник добивался отзыва исполлиста, потому что думал, что он противоречит
      решению суда. Первая инстанция расхождений не нашла. Он обжаловал это
      определение в апелляции, но она решила, что оно не оспаривается, и
      прекратила производство. Почему этот вывод неправильный, разъяснил АС
      Московского округа. Он разрешил дело арендатора, которому затопило
      помещение, и спор крупной компании с ФНС о том, облагается ли налогом на
      прибыль зачет векселей.
    </p>
    <div class="author-wrap">
      <!-- <div class="author">
        <div class="author__logo">
          <img
            src="https://randomuser.me/api/portraits/men/46.jpg"
            alt=""
            class="author__logo-img"
          />
        </div>
        <a href="#" class="author__info">
          <span class="author__name word-wrap">
            Евгения Ефименко,
          </span>
          <span class="author__position">
            автор портала pravo.ru
          </span>
        </a>
      </div> -->

      <div class="author author--company">
        <div class="author__logo">
          <img
            src="img/author_logo.png"
            alt=""
            class="author__logo-img"
          />
        </div>
        <a href="#" class="author__info">
          <span class="author__name word-wrap">
            Евгения Ефименко,
          </span>
          <span class="author__position">
            автор портала pravo.ru
          </span>
        </a>
      </div>
    </div>
  </header>
  <main class="article__content">
    <h3 class="article__subtitle">
      Обжаловать то, что не обжалуется по АПК
    </h3>
    <p class="article__text">Можно ли обжаловать определение об отказе в отзыве исполлиста – решали суды в деле <a href="#" class="article__link">№ А40-207814/17</a>. Должником по исполлисту было ООО «Магеллан». <a href="#" class="article__link">Арбитражный суд</a> города Москвы взыскал с него в том числе 1,7 млн руб. долга и 2,1 млн неустойки, а помимо этого – неустойку «на сумму задолженности в 1,7 млн» с определенного дня до фактической оплаты – 0,1% за каждый день просрочки. Апелляция частично изменила это решение, в том числе отказала во взыскании 2,1 млн руб. неустойки. Следом взыскатель получил исполлист, в котором значился долг и неустойка на него в размере 0,1% в день.</p>
    <p class="article__text">В «Магеллане» изучили решение апелляции и пришли к выводу, что исполлист ему противоречит, ведь «в мотивировочной части сказано, что оснований для взыскания неустойки нет». Сначала должник обратился за разъяснением судебного акта, но получил отказ. Следом «Магеллан» попытался добиться отзыва исполлиста. Первая инстанция отказала, потому что не нашла расхождений с принятыми судебными актами. «Магеллан» обжаловал это решение в 9-м ААС, но там решили, что его нельзя обжаловать. Согласно ч. 1 и 2 ст. 188 АПК, по общему правилу отдельно обжалуются только те определения, которые предусмотрены кодексом, а также те, которые препятствуют дальнейшему движению дела. Кроме того, апелляция процитировала ч. 7 ст. 319 АПК, которая предписывает отзывать исполлист, выданный до вступления в силу судебного акта. Из этих норм 9-й ААС сделал вывод, что кодекс не позволяет обжаловать определение об отказе в отзыве исполнительного листа.</p>
    <a href="#" class="article__also">
      <p class="article__also-note">Читайте также</p>
      <p class="article__also-title">Самые интересные законопроекты февраля</p>
    </a>
    <p class="article__text">С этим не смог согласиться АС Московского округа. Он согласился с «Магелланом», что у того больше нет процессуальных возможностей выразить несогласие с определением суда первой инстанции. Иной подход лишит должника права на судебную защиту. Ведь он не может заявить возражения ни в ходе рассмотрения дела по существу, ни при обжаловании судебного акта, говорится в постановлении кассации. «Заявление об отзыве исполлиста носит самостоятельный характер», – подчеркнули судьи. Они также учли активность должника, который обращался за разъяснением решения апелляции по существу.</p>
    <div class="article__main">
      <span class="article__main-border"></span>
      <p class="article__main-text">Он согласился с «Магелланом», что у того больше нет процессуальных возможностей выразить несогласие с определением суда первой инстанции.</p>
      <span class="article__main-border"></span>
    </div>
    <div class="mobile__banner">
      <a href="#" class="mobile__banner-link">
        <picture class="mobile__banner-img">
          <source srcset="img/Banner-live-240х400.png" media="(min-width: 600px)" />
          <img src="img/Banner-live-240х400.png" alt="Прямая трансляция ПМЮФ 2019" />
        </picture>
      </a>
    </div>
    <h3 class="article__subtitle">
      Зачет векселей – прибыльная операция
    </h3>
    <p class="article__text">Надо ли платить налог на доход, если фирма предъявила к платежу вексель в ходе взаимозачета – решали суды в деле № А40-24375/2017. Компания «Объединенные пивоварни Хайнекен» получила несколько векселей от других присоединенных к ней юрлиц (изначально ценные бумаги им безвозмездно передал участник). Обязанным лицом по ним была Barrel Holdings Limited, правопреемник компаний-векселедателей. Затем «Хайнекен» купил у офшора права на товарные знаки, а расплатился требованиями по векселям. Зачет, который состоялся в 2012 году, заинтересовал ФНС на выездной проверке. По ее итогам в 2016 году компании доначислили 155,8 млн руб. налога на прибыль, 50,5 млн штрафа и 31,1 млн пеней. «Хайнекен» должен был отразить доход от реализации безвозмездно полученных векселей, объяснила налоговая.</p>
    <div class="article__quote">
      <span class="article__quote-icon">«</span>
      <p class="article__quote-text">
        Компания с этим не согласилась и обратилась в суд. Ей удалось доказать свою правоту в двух инстанциях. Суды согласились, что реализации векселей в смысле налогообложения не было. По мнению двух инстанций, общество не получило дополнительной экономической выгоды. 
      </p>
      <p class="article__quote-author">Семен Семенов, юрист</p>
    </div>
    <p class="article__text">Однако <a href="#" class="article__link">АС Московского округа</a> счел, что такое толкование «произвольное». Он отметил «двойственную природу» векселя, который является и ценной бумагой, и средством платежа. Но закон не освобождает от налога на прибыль в том случае, если ценная бумага является еще и средством платежа (п. 2 ст. 280 НК РФ). Кассация сослалась на п. 1 ч. 7 ст. 280 НК, которая гласит, что ценные бумаги признаются реализованными, если прекращено обязательством налогоплательщика передать (принять) их зачетом встречных однородных обязательств. «Общество передало спорные ценные бумаги, осуществив зачет, а значит, должно заплатить налог», – разъяснил АС Московского округа.</p>
  </main>
  <footer class="like__wrap">
    <div class="like__btns">
      <div class="like__btn view">
        <div class="like__btn-icon"></div>
        <div class="like__btn-count">157 215</div>
        <span class="blind-label">Просмотры</span>
      </div>
      <button class="like__btn like">
        <div class="like__btn-icon"></div>
        <div class="like__btn-count">15</div>
        <span class="blind-label">Нравиться</span>
      </button>
      <a href="#comments" class="like__btn comment">
        <div class="like__btn-icon"></div>
        <div class="like__btn-count">968</div>
        <span class="blind-label">Комментарий</span>
      </a>
      <button href="#" class="like__btn favorites">
        <div class="like__btn-icon"></div>
        <span class="blind-label">В избранное</span>
      </button>
    </div>
    <div class="like__right">
      <button class="like__share">
        <div class="like__share-note">Поделиться</div>
        <div class="like__share-icon"></div> 
      </button>
      <div class="like__social-disabled">
        <a href="#" class="like__social-fb like__social-item">
          <div class="like__btn-icon"></div>
          <span class="blind-label">Поделиться в Facebook</span>
        </a>
        <a href="#" class="like__social-vk like__social-item">
          <div class="like__btn-icon"></div>
          <span class="blind-label">Поделиться в VK</span>
        </a>
        <a href="#" class="like__social-twitter like__social-item">
          <div class="like__btn-icon"></div>
          <span class="blind-label">Поделиться в Twitter</span>
        </a>
        <a href="#" class="like__social-inst like__social-item">
          <div class="like__btn-icon"></div>
          <span class="blind-label">Поделиться в Instagram</span>
        </a>
      </div>
    </div>
  </footer>
</article>
