<article class="comment-box">
  <div class="comment-box__wrap">
    <div class="comment-box__header">
      <h3 class="comment-box__title">Сейчас комментируют</h3>
      <div class="comment-box__header-icon"></div>
    </div>
    <a href="#" class="comment-box__item row justify-content-sd-center">
      <p class="comment-box__link col-lg-5 col-md-5 col-sd-12">Летняя стажировка для студентов</p>
      <div class="comment-box__note col-lg-7 col-md-7 col-sd-12">
        <p class="comment-box__count proffesion-text">54</p>
        <div class="comment-box__icon"></div>
        <p class="comment-box__text">«Совершенно верно говорите, но разв...»</p>
      </div>
    </a>
    <a href="#" class="comment-box__item row justify-content-sd-center">
      <p class="comment-box__link col-lg-5 col-md-5 col-sd-12">Адвокат по уголовным делам рассказал об эмоциональных трудностях</p>
      <div class="comment-box__note col-lg-7 col-md-7 col-sd-12">
        <p class="comment-box__count proffesion-text">97</p>
        <div class="comment-box__icon"></div>
        <p class="comment-box__text">«а вы уверены, что такой подход разв...»</p>
      </div>
    </a>
    <a href="#" class="comment-box__item row justify-content-sd-center">
      <p class="comment-box__link col-lg-5 col-md-5 col-sd-12">«Право интеллектуальной собственности»</p>
      <div class="comment-box__note col-lg-7 col-md-7 col-sd-12">
        <p class="comment-box__count legal-education-text">156</p>
        <div class="comment-box__icon"></div>
        <p class="comment-box__text">«Курс – бомба!»</p>
      </div>
    </a>
  </div>
</article>