<article class="comments" id="#comments">
  <div class="comments__title">
    <p><span id="articleNumComments" class="comments_title-amount">6</span> Комментарии</p>
  </div>
  <div class="comments__form">
    <form class="form fv-form fv-form-bootstrap">
      <textarea class="comments__textarea" placeholder="Оставьте комментарий" rows="1" cols="60"></textarea>
      <button class="comments__submit">
        <img src="img/svg/send.svg">
      </button>
    </form>
  </div>
  <div class="comments__list">
    <div class="comments__item folder">
      <div class="comments__item-info">
        <div class="comments__item-header">
          <div class="comments__item-author">
            <img class="comments__item-img" src="img/author_img.png">
            <p class="comments__item-name">Леонид Геннадиевич</p>
            <p class="comments__item-date">25 апреля 2019</p>
          </div>
          <div class="comments__item-assessment">
            <a href=# class="comments__item-like">+ 3</a>
            <a href=# class="comments__item-dislike">- 4</a>
          </div>
        </div>
        <div class="comments__item-main">
          <p class="comments__item-text">У вас опечатка во втором абзаце</p>
          <a href="#" class="comments__item-btn">Ответить</a>
        </div>
      </div>
      <div class="comments__item-reply">
        <a href="#" class="comments__item-opener">
        </a>
        <div class="comments__item-info">
          <div class="comments__item-header">
            <div class="comments__item-author">
              <img class="comments__item-img" src="img/author_img.png">
              <p class="comments__item-name">Леонид Геннадиевич</p>
              <p class="comments__item-date">25 апреля 2019</p>
            </div>
            <div class="comments__item-assessment">
              <a href="#" class="comments__item-like">+ 3</a>
              <a href="#" class="comments__item-dislike">- 4</a>
            </div>
          </div>
          <div class="comments__item-main">
            <p class="comments__item-text">У вас опечатка во втором абзаце</p>
            <a href="#" class="comments__item-btn">Ответить</a>
          </div>
        </div>
        <div class="comments__item-reply">
        <div class="comments__item-info">
          <div class="comments__item-header">
            <div class="comments__item-author">
              <img class="comments__item-img" src="img/author_img.png">
              <p class="comments__item-name">Иванов Леонид Геннадиевич</p>
              <p class="comments__item-date">25 апреля 2019</p>
            </div>
            <div class="comments__item-assessment">
              <a href="#" class="comments__item-like">+ 3</a>
              <a href="#" class="comments__item-dislike">- 4</a>
            </div>
          </div>
          <div class="comments__item-main">
            <p class="comments__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#" class="comments__item-btn">Ответить</a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="comments__item folder">
      <div class="comments__item-info">
        <div class="comments__item-header">
          <div class="comments__item-author">
            <img class="comments__item-img" src="img/author_img.png">
            <p class="comments__item-name">Иванов Леонид Геннадиевич</p>
            <p class="comments__item-date">25 апреля 2019</p>
          </div>
          <div class="comments__item-assessment">
            <a href=# class="comments__item-like">+ 3</a>
            <a href=# class="comments__item-dislike">- 4</a>
          </div>
        </div>
        <div class="comments__item-main">
          <p class="comments__item-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <a href="#" class="comments__item-btn">Ответить</a>
        </div>
      </div>
    </div>
    <div class="comments__also row justify-content-md-center">
      <a href="#" class="comment__also-link">Все комментарии</a>
    </div>
  </div>
</article>
