<article class="company-box">
  <div class="company-box__wrap">
    <h3 class="company-box__title">Статьи компаний</h3>
    <div class="company-box__item row">
      <div class="company-box__text col-lg-10 col-md-10 col-sd-12">
        <div class="company-box__author">
          <div class="company-box__author-icon"></div>
          <p class="company-box__author-name">pravo.ru – новости права</p>
        </div>
        <p class="company-box__name">Летняя стажировка для студентов</p>
        <p class="company-box__description">Если Вы студент 4 курса или проходите обучение...</p>
      </div>
      <div class="company-box__btn col-lg-2 col-md-2 col-sd-4">
        <a class="company-box__btn-item" href="#">подписаться</a>
      </div>
    </div>
    <div class="company-box__item row">
      <div class="company-box__text col-lg-10 col-md-10 col-sd-12">
        <div class="company-box__author">
          <div class="company-box__author-icon"></div>
          <p class="company-box__author-name">pravo.ru – новости права</p>
        </div>
        <p class="company-box__name">Летняя стажировка для студентов</p>
        <p class="company-box__description">Если Вы студент 4 курса или проходите обучение...</p>
      </div>
      <div class="company-box__btn col-lg-2 col-md-2 col-sd-4">
        <a class="company-box__btn-item" href="#">подписаться</a>
      </div>
    </div>
    <div class="company-box__item row">
      <div class="company-box__text col-lg-10 col-md-10 col-sd-12">
        <div class="company-box__author">
          <div class="company-box__author-icon"></div>
          <p class="company-box__author-name">pravo.ru – новости права</p>
        </div>
        <p class="company-box__name">Летняя стажировка для студентов</p>
        <p class="company-box__description">Если Вы студент 4 курса или проходите обучение...</p>
      </div>
      <div class="company-box__btn col-lg-2 col-md-2 col-sd-4">
        <a class="company-box__btn-item" href="#">подписаться</a>
      </div>
    </div>
  </div>
</article>