<article class="post">
  <div class="post__wrapper">
    <header class="post__header">
      <div class="meta-box">
        <div class="meta-box__left">
          <div class="meta-box__item">
            <span class="meta-box__category-color"></span>
            <a href="#" class="meta-box__category"
              >#законодательство</a
            >
          </div>
        </div>
        <div class="meta-box__right meta-box__date">
          <time class="meta-box__time" datetime="2019-06-10">06 июня 2019</time>
        </div>
      </div>

      <a href="index.html">
      <h2 class="post__title">
        АС Московского округа исправляет ошибки: самые интересные дела за март
      </h2>
      </a>
      <span class="post_low-area">
        арбитражный процесс, подборка, вексель
      </span>
      <p class="post__description">
        Должник добивался отзыва исполлиста, потому что думал, что он противоречит
        решению суда. Первая инстанция расхождений не нашла. Он обжаловал это
        определение в апелляции, но она решила, что оно не оспаривается, и
        прекратила производство. Почему этот вывод неправильный, разъяснил АС
        Московского округа. Он разрешил дело арендатора, которому затопило
        помещение, и спор крупной компании с ФНС о том, облагается ли налогом на
        прибыль зачет векселей.
      </p>
      <div class="post__img">
        <img src="../img/intro_background.jpg">
      </div>
      <a href="index.html" class="post__link">Читать далее</a>
    </header>
    <footer class="post__footer row justify-content-sd-center">
      <div class="post__footer-btns col-lg-5 col-md-5 col-sd-12">
        <div class="post__footer-btn view">
          <div class="post__footer-btn-icon"></div>
          <div class="post__footer-btn-count">157</div>
          <span class="blind-label">Просмотры</span>
        </div>
        <div class="post__footer-btn like">
          <div class="post__footer-btn-icon"></div>
          <div class="post__footer-btn-count">15</div>
          <span class="blind-label">Нравиться</span>
        </div>
        <a href="index.html#comments" class="post__footer-btn comment">
          <div class="post__footer-btn-icon"></div>
          <div class="post__footer-btn-count">98</div>
          <span class="blind-label">Комментарий</span>
        </a>
      </div>
      <div class="author-wrap col-lg-7 col-md-7 col-sd-12">
        <div class="author">
          <!-- <div class="author__info">
            <span class="word-wrap">
              Евгения Ефименко,
            </span>
            автор портала pravo.ru
          </div>
          <div class="author__logo">
            <img
              src="https://randomuser.me/api/portraits/men/46.jpg"
              alt=""
              class="author__logo-img"
            />
          </div>
                  </div> -->

        <div class="author author--company">
          
          <div class="author__info">
            <span class="word-wrap">
              Евгения Ефименко,
            </span>
            автор портала pravo.ru
          </div>
          <div class="author__logo">
            <img
              src="../img/author_logo.png"
              alt=""
              class="author__logo-img"
            />
          </div>
        </div>
      </div>
    </footer>
  </div>
</article>