<article class="topic">
  <h3 class="topic__title">Еще по теме</h2>
  <a href="#" class="topic__item">
    <p class="topic__item-subtitle legal-education-text">#юробразование</p>
    <p class="topic__item-title">«Право интеллектуальной собственности»</p>
    <div class="topic__btns">
      <div class="topic__btn view">
        <svg class="topic__btn-icon" width="21" height="11" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#impression"></use></svg>
        <div class="topic__btn-count">12 526</div>
        <span class="blind-label">Просмотры</span>
      </div>
      <div class="topic__btn like">
        <svg class="topic__btn-icon" width="23" height="19" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#like"></use></svg>
        <div class="topic__btn-count">38</div>
        <span class="blind-label">Нравиться</span>
      </div>
      <div class="topic__btn comment">
        <svg class="topic__btn-icon" width="21" height="16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#comment"></use></svg>
        <div class="topic__btn-count">15</div>
        <span class="blind-label">Комментарий</span>
      </div>
    </div>
  </a>
  <a href="#" class="topic__item">
    <p class="topic__item-subtitle legislation-text">#законодательство</p>
    <p class="topic__item-title">АС Московского округа исправляет ошибки: самые интересные дела</p>
    <div class="topic__btns">
      <div class="topic__btn view">
        <svg class="topic__btn-icon" width="21" height="11" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#impression"></use></svg>
        <div class="topic__btn-count">12 526</div>
        <span class="blind-label">Просмотры</span>
      </div>
      <div class="topic__btn like">
        <svg class="topic__btn-icon" width="23" height="19" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#like"></use></svg>
        <div class="topic__btn-count">38</div>
        <span class="blind-label">Нравиться</span>
      </div>
      <div class="topic__btn comment">
        <svg class="topic__btn-icon" width="21" height="16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#comment"></use></svg>
        <div class="topic__btn-count">15</div>
        <span class="blind-label">Комментарий</span>
      </div>
    </div>
  </a>
  <a href="#" class="topic__item">
    <p class="topic__item-subtitle case-text">#кейсы</p>
    <p class="topic__item-title">Промсвязьбанк взыскал с кипрской компании более 1,3 млрд рублей</p>
    <div class="topic__btns">
      <div class="topic__btn view">
        <svg class="topic__btn-icon" width="21" height="11" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#impression"></use></svg>
        <div class="topic__btn-count">12 526</div>
        <span class="blind-label">Просмотры</span>
      </div>
      <div class="topic__btn like">
        <svg class="topic__btn-icon" width="23" height="19" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#like"></use></svg>
        <div class="topic__btn-count">38</div>
        <span class="blind-label">Нравиться</span>
      </div>
      <div class="topic__btn comment">
        <svg class="topic__btn-icon" width="21" height="16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/svg/sprite.svg#comment"></use></svg>
        <div class="topic__btn-count">15</div>
        <span class="blind-label">Комментарий</span>
      </div>
    </div>
  </a>
</article>
