html
  height: 100%
  box-sizing: border-box
  font-size: 10px

*, *:before, *:after
  box-sizing: inherit

body
  height: 100%
  -webkit-overflow-scrolling: touch
  font-family: $openSans
  -webkit-font-smoothing: antialiased
  background-color: #f4f0e7

.no-scroll
  position: fixed
  overflow: hidden

.word-wrap
  display: block
  &--only-mobile
    display: inline

.show-mobile
  display: none

.show-desktop
  display: inherit
.hidden
  display: none
.active
  display: block

@media (max-width: 1024px) and (min-width: 680px)
  .lt-hidden
    display: none
@media (max-width: 679px)
  .lm-hidden
    display: none
