$color_event: #99c03a
$color_legislation: #30ab56
$color_profession: #20afa6
$color_research: #0f5298
$color_case: #46267d
$color_interview: #a220ae
$color_legal-education: #ed1c24
$color_leisure: #e98e05
$color_test: #e9ce05

/*Цвета для текста внутри артикла (Блок "Еще по теме")*/

.event-text
  color: $color_event
.legislation-text
  color: $color_legislation
.proffesion-text
  color: $color_profession
.research-text
  color: $color_research
.case-text
  color: $color_case
.interview-text
  color: $color_interview
.legal-education-text
  color: $color_legal-education
.leisure-text
  color: $color_leisure
.test-text
  color: $color_test

/*Цвета для категории артикла (Верхний border, цвет квадрата и категории)*/

.event .article
  border-color: $color_event
.legislation .article
  border-color: $color_legislation
.proffesion .article
  border-color: $color_profession
.research .article
  border-color: $color_research
.case .article
  border-color: $color_case
.interview .article
  border-color: $color_interview
.legal-education .article
  border-color: $color_legal-education
.leisure .article
  border-color: $color_leisure
.test .article
  border-color: $color_test

.event .meta-box__category, .event .subscribe__title-highlight
  color: $color_event
.legislation .meta-box__category, .legislation .subscribe__title-highlight
  color: $color_legislation
.proffesion .meta-box__category, .proffesion .subscribe__title-highlight
  color: $color_profession
.research .meta-box__category, .research .subscribe__title-highlight
  color: $color_research
.case .meta-box__category, .case .subscribe__title-highlight
  color: $color_case
.interview .meta-box__category, .interview .subscribe__title-highlight
  color: $color_interview
.legal-education .meta-box__category, .legal-education .subscribe__title-highlight
  color: $color_legal-education
.leisure .meta-box__category, .leisure .subscribe__title-highlight
  color: $color_leisure
.test .meta-box__category, .test .subscribe__title-highlight
  color: $color_test

.event .meta-box__category-color
  background-color: $color_event
.legislation .meta-box__category-color
  background-color: $color_legislation
.proffesion .meta-box__category-color
  background-color: $color_profession
.research .meta-box__category-color
  background-color: $color_research
.case .meta-box__category-color
  background-color: $color_case
.interview .meta-box__category-color
  background-color: $color_interview
.legal-education .meta-box__category-color
  background-color: $color_legal-education
.leisure .meta-box__category-color
  background-color: $color_leisure
.test .meta-box__category-color
  background-color: $color_test

