@font-face
  font-family: geometria
  src: url("../fonts/geometria.woff2") format("woff2"), url("../fonts/geometria.woff") format("woff")
  font-weight: normal
  font-display: swap

@font-face
  font-family: geometriabold
  src: url("../fonts/geometria-bold.woff2") format("woff2"), url("../fonts/geometria-bold.woff") format("woff")
  font-weight: bold
  font-display: swap

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

$geometriabold: "geometriabold", "Tahoma", sans-serif
$geometria: "geometria", "Tahoma", sans-serif
$openSans: "Open Sans", sans-serif